.extension-banner {
    background-color: #4285f4;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    animation: slideout 2000ms ease-in;
}
@keyframes slideout {
    0% {
        top: 0;
    }
    50% {
        top: 0;
    }
    100% {
        top: 20vh;
    }
}